/* portfolio setion styles */
.nav-item > button{
    display: block;
    padding: 7px 15px;
    background: #e5e5e5;
    color: #64686d;
    position: relative;
  }
  
  .nav-item > button:hover,
  .nav-item button .active{
    background: #860500;
    color: #fff;
    box-shadow: 0 -3px 0 0 #ab322e inset;
    -webkit-box-shadow: 0 -3px 0 0 #ab322e inset;
  }
  .nav-item >button.active:after{
    content: " ";
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #ab322e transparent transparent transparent;
  }
  