#contact{
    position:relative;
    display:flex;
    flex-direction:column;
    width:100%;
  
}

.form-container{
position:absolute;
 z-index: 100;
 top:0;
 right:0;
 width: 100%;
 background-color: antiquewhite;
}
.formShit{
    position: absolute;
    top: 0;
    right: 50px;
    margin-top:25px;
    bottom:25px;
    background-color: rgba(255, 255, 255,.8);
    height: 600px;
    border-radius: 10px;
}