#contact{
    position:relative;
    display:flex;
    flex-direction:column;
    width:100%;
  
}

.form-container{
position:absolute;
 z-index: 100;
 top:0;
 right:0;
 width: 100%;
 background-color: antiquewhite;
}
.form-inner-container{
    position: absolute;
    top: 0;
    right: 150px;
    background-color: rgba(255, 255, 255,.8);
    height: 640px;
    border-radius: 10px;
}
.contact-form{
    padding: 15px;
}

.form{
    display:flex;
    flex-direction: column;
    padding: 15px;
}

