#footer{
padding-top: 40px;
padding-bottom: 20px;
color: #fff;
background: #2e2e2e;
position: relative;
bottom:0;
left:0;
margin-top:1px;
}

#footer .social-icons {
    float: right;
}

#footer ul {
    list-style: none;
    padding: 0;

}
#footer ul li{
    padding:2px;
}
